.settings/
.vscode/
.library_mapping.xml
.project

microprocessor.cache/
microprocessor.hw/
microprocessor.ip_user_files/
microprocessor.runs/
microprocessor.sim/

microprocessor.xpr
microprocessor.srcs/utils_1/